<!doctype html>
<html lang="en" ng-app="nhapdiem">
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/toaster.min.css" rel="stylesheet" />
    <title>Nhập điểm thủ công</title>
</head>
<body>
    <div ng-controller="nhapdiemCtrl">
        <toaster-container></toaster-container>
        <div class="container" id="nhapDiem">
            <div class="row" id="menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/index.html">
                                <img alt="Brand" src="/brand3.png" />
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/index.html">Nhập điểm từ file <span class="sr-only">(current)</span></a></li>
                                <li class="active"><a href="/nhapdiem.html">Nhập điểm thủ công</a></li>
                                <li><a href="/nhapds.html">Nhập điểm theo danh sách</a></li>
                                <li><a href="/docdiem.html">Đọc điểm</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>

            <div class="row" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="nhapdiem()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Nhập điểm</button>
                            <button type="button" class="btn btn-default" ng-click="opendaotao()"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> {{daotao}}</button>
                            <button type="button" class="btn btn-default" ng-click="chuyendiem(1)"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Chuyển điểm chuyên cần</button>
                            <button type="button" class="btn btn-default" ng-click="chuyendiem(2)"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Chuyển điểm kiểm tra</button>
                            <button type="button" class="btn btn-default" ng-click="chuyendiem(3)"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Chuyển điểm thi</button>
                            <button type="button" class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Xoá bảng điểm</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" ng-show="bDiemEnable">
                            

                            <table class="table table-hover table-condensed" ng-if="bDiem.length>0">
                                <thead>
                                <th>STT</th>
                                <th>Mã SV</th>
                                <th>Điểm</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sv in bDiem">
                                        <td class="stt">
                                            {{$index + 1}}
                                        </td>
                                        <td class="masv">
                                            <span ng-show="!sv.msEditable" ng-click="editMasv($index)">{{sv.masv}}</span>
                                            <input type="text" class="form-control"
                                                   id="{{'ms'+$index}}"
                                                   ng-model="sv.masv" ng-show="sv.msEditable" ng-blur="finishMasv($index)">
                                        </td>
                                        <td class="stt">
                                            <span ng-show="!sv.dEditable">{{sv.diem}}</span>
                                            <input type="text" class="form-control"
                                                   id="{{'d'+$index}}"
                                                   ng-model="sv.diem" ng-show="sv.dEditable">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="text" id="hiddenField" ng-model="inputTyping"
                                   ng-change="parseTyping()"
                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                   focus-on="nhapdiem" autofocus />
                        </div>
                        <iframe id="vnua" src="http://daotao.vnua.edu.vn" ng-show="dsEnable"
                                style="width:100%; height: 100em"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/toaster.min.js"></script>
    <script src="nhapdiem.js"></script>
</body>
</html>